body {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    font-family: Roboto, 'Open Sans', sans-serif;
    height: 60px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    gap: 1rem;
    font-size: small;
}

.container {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-top: 1rem;
    gap: 13px;
    height: 400px;
    align-items: center;
    padding-bottom: 30px;
    flex: 1;
    padding-left: 123px;
    padding-right: 123px;
}    

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}
.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.image-placeholder {
    background-color: #eee;
    height: 180px;
    margin: 5px;
    width: 660px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 28px;
    text-align: center;
    border: 0;
    border-radius: 5px;
}

.imagecontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    gap: 25px;
    
}

.header2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-top: -20px;
}

.item {
    height: 150px;
    width: 150px;
    border: 4px solid  #3882F6;
    border-radius: 14px;
}

.listcontainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    text-align: center;
}

.itemcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

.quote-container {
    height: 400px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 770px;
    text-align: start;
    padding-left: 20px;
    margin: 0;
}

.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: #1F2937;
    padding-right: 2rem;
}

.call-to-action-container {
    height: 400px;
}